<div class="card">
  <h5 class="card-header"><%= @question.title %></h5>
  <div class="card-body">
    <h5 class="card-title">Answer choices</h5>
    <p class="card-text">
      <ul>
        <% @question.answers.each do |a| %>
        <li><%= link_to a.content, create_user_answer_path(@question.id, a.id), method: "post" %></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>
